
        #bio {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        }
         
        

        .other-site-title {
                font-family: "Fraunces", serif;
                font-weight: 100;
                font-size: 3vw;
                color: gray;
                position: fixed;
                margin: 0vh 25vw 20vh 25vw;
            }   
            .other-site-title:hover {
                color: black;
                }  
                a, .other-site-title {
                    transition: color 0.3s ease;
                }

    .other-nav{
        color: gray;
        position: fixed;
        margin: 0vh 0vw 0vh 35vw;
        display: grid;
        gap: 5vh;
    }
    
                a, .other-nav{ 
                        transition: opacity 0.4s ease;  
                    }


    .left-side {
        position: fixed;
        top: 0;
        flex: 0 0 40vw;
            transition: opacity 0.2s linear;
        }

    #black-title {
        font-family: "Fraunces", serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        font-size: 100px;
        color: black;
                    
            position: fixed;
            bottom: 35vh;
            margin-left: 12vw;
            z-index: 2;
            }

    #other-pic { 
        width: 100%;
        height: 100vh;
        max-width: 33vw;
        object-fit: cover;
        margin-top: 0%;
        margin-bottom: 0%;
        }


    #bio-text {
        font-family: "Avenir", serif;
        font-optical-sizing: none;
        font-weight: 100;
        font-style: normal;
        font-size: clamp(10px, 0.75vw, 10px);
        line-height: 3vh;
        word-spacing: 0.55vw;
        text-align: justify;
        padding: 20vh 0vw 0vh 0vw;
        }   

    .right-side {
        position: relative;
        transition: opacity 0.2s linear;
        margin-left: 45vw;
        margin-right: 15vw;
        max-width: 80%;        
        }
#projects {
    gap: 10px;
    padding: 15vh 5vw 0vh 0vw;
    margin: 0vh 5vw 0vh 45vw;
    column-count: 2;
    column-gap: 1vw;
}

.project-item {
    position: relative;
    margin-bottom: 1vh;
    }

.project-name {
  font-family: "Avenir", serif;
        font-weight: 70;
        font-style: normal;
        font-size: clamp(10px, 1vw, 30px);
        overflow-wrap: normal;
        color: lightgray;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 2;
        transition: opacity 1s ease;
    }

    .album-art:hover .project-name {
        opacity: 1;
    }


    .album-grid {
        padding: 15vh 0vw 0vh 0vw;
        display: grid;
        grid: auto / auto auto;
        justify-content:left;
        gap: 5vh 5vw;

}

    .album-art {
        display: block;
        position: relative;
        max-inline-size: 50vw;
        overflow: hidden;
        }
        .album-art img {
    display: block;
    width: 100%;
    height: auto;
}

.album-art:after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 1;
    pointer-events: none;
}

.album-art:hover:after {
    opacity: 1;}
         
        
    .album-title {
        font-family: "Avenir", serif;
        font-weight: 100;
        font-style: normal;
        font-size: clamp(10px, 1vw, 40px);
        text-align: center;
        color: white;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 2;
        transition: opacity 1s ease;
    }

    .album-credits {
        font-family: "Avenir", serif;
        font-weight: 70;
        font-style: normal;
        font-size: clamp(5px, 0.5vw, 10px);
        text-align: center;
        color: white;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 2;
        transition: opacity 2s ease;
    } 
    
    .album-art:hover .album-title,
    .album-art:hover .album-credits {
        opacity: 0.7;
    }
                
    .bandcamp-embed{
        align-content: center;
        padding: 5vh 0vw 0vh 5vw;

    }

        .upcoming-title {
            text-align: right;
            font-family: "Fraunces", serif;
            font-size: 1.5vw;
            font-weight: 80;
            }

        .upcoming-dates {
            text-align: right;
            font-family: "Avenir", serif;
            font-size: clamp(10px, 0.75vw, 10px);
            word-spacing: 0.3vw;
            color: inherit;
            }

            /* .upcoming-dates:hover {
                color: #940025;
                transition: 0.3s ease;
                cursor: pointer;
            } */


        .previous-title {
            text-align: left;
            font-family: "Fraunces", serif;
            font-size: 1.5vw;
            padding: 3vh 0vw 0vh 0vw;
            }

        .year {
            text-align: center;
            font-family: "Fraunces", serif;
            font-size: clamp(15px, 1vw, 15px);
            font-style: bold;
            color: #940025;
            }

        .previous-dates {
            text-align: left;
            font-family: "Avenir", serif;
            font-size: clamp(10px, 0.75vw, 10px);
            word-spacing: 0.3vw;
            }


            #white-title {
        font-family: "Fraunces", serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        font-size: 5vw;
        color: White;
        text-align: center;
            position: fixed;
                padding: 35vh 5vw;
                z-index: 2;
            }
        